<div class="container-fluid forced-update-screen">
    <div class="form-container">
        <div class="forced-owl">
            <img src="assets/images/forced-update.svg">
        </div>
        <div class="title-txt mt50">{{'FORCED_UPDATE.TITLE' | translate}}</div>
        <div class="sub-title-txt">{{'FORCED_UPDATE.MESSAGE'| translate}}</div>
        <div class="page-btn-block">
            <button type="button" class="btn btn-primary width100" >{{'FORCED_UPDATE.BTN_TEXT' | translate}}</button>
        </div>
    </div>
</div>