<div class="container-fluid forced-update-screen">
    <div class="form-container">
        <div class="forced-owl">
            <img src="assets/images/forced-update.svg">
        </div>
        <div class="title-txt mt50">{{'FORCED_UPDATE.TITLE' | translate}}</div>
        <div class="sub-title-txt">{{'FORCED_UPDATE.MESSAGE'| translate}}</div>
        <div class="page-btn-block">
            <a class="btn btn-primary width100" href="https://play.google.com/store/apps/details?id=com.moneyowl.app&pli=1" target="_system">{{'FORCED_UPDATE.BTN_TEXT' | translate}}</a>
        </div>
    </div>
</div>