@import '../../../variables';
@import '../../../mixins';

app-forced-update {
    .forced-owl{
        width: 219px;
        height: 250px;
        display: flex;
        margin: 0 auto;
        text-align: center;
    }
    .container-fluid{
        &.max-width--1024{
            max-width: 600px !important;
        }
        padding-top: 40px;
    }
    .container-fluid{
            &.forced-update-screen{
              text-align: center;
              max-width: 450px;
              padding: 56px 0px 140px 0px;
              @include allmobiles{
                background-color: $white-color;
                min-height: calc(100vh - 45px);
                width: 100%;
              }
            }
    }

    .form-container{
        padding: 50px 57px 30px;
        @include allmobiles{
            padding: 0;
        }
        background-color: $white-color;
        border-radius: 6px;
    }
    .title-txt {
        font-family: $muli-bold;
        font-size: 22px;
        color: $watercourse-color;
        line-height: 30px;
        letter-spacing: -0.18px;;
        text-align: center;
    }
    .sub-title-txt {
        font-family: $muli-regular;
        font-size: 16px;
        line-height: 20px;
        color: $black-color;
        letter-spacing: -0.18px;;
        margin-top: 16px;
        text-align: center;
        @include allmobiles{
            margin:20px auto 0;
        }
    }

    .page-btn-block{
        margin: 40px 0px 0px;
        justify-content: space-between;
        align-items: center;
        bottom: 50px;
        right: 0px;
        left: 0px;
        justify-content: center;
        @include allmobiles{
            position: absolute;
            margin:40px 26px 0px;
        }
        .btn-primary{
            font-family: $muli-bold;
            background: $watercourse-color;;
        }
    }
}