<div class="maintenance-screen">
    <div class="wrapper">
        <div class="header">
        <div class="header-title">Upgrading In Progress</div>
        <div class="header-desc">We're working on providing you with a <br>better experience, owl be right back!</div>
    </div>
    <div class="container">
        <div class="container-image"><img src="assets//images/maintenance/construction-owl.svg" alt=""></div>
    </div>
    <div class="footer">
        <div class="footer-top"><a href="https://moneyowl.com.sg"><span class="footer-logo"><img src="assets/images/maintenance/logo-lightbg.svg" alt=""></span></a><a href="mailto:enquiries@moneyowl.com.sg"><span class="footer-contact"><img src="assets/images/maintenance/letter.svg">Contact Us</span></a></div>
        <div class="footer-bottom">MoneyOwl Pte Ltd is a financial adviser and fund management company licensed by MAS. We are a joint venture between NTUC Enterprise Co-operative Ltd and Providend Holding Pte Ltd. Capital Markets Services Licence No: CMS100758.
            © 2019-2020 MoneyOwl Pte Ltd. All Rights Reserved.</div>
    </div>
</div>
