<div class="maintenance-screen">
    <div class="wrapper">
        <div class="header">
        <div class="header-title">{{ 'MAINTENANCE_PAGE.TITLE' | translate}}</div>
        <div class="header-desc" [innerHtml]="'MAINTENANCE_PAGE.DESC' | translate"></div>
    </div>
    <div class="container">
        <div class="container-image"><img src="assets/images/maintenance/construction-owl.svg" alt=""></div>
    </div>
    <div class="footer">
        <div class="footer-top">
            <span class="footer-logo">
                <a href="https://moneyowl.com.sg">
                    <img src="assets/images/maintenance/logo-lightbg.svg" alt="">
                </a>
            </span>
            <a href="mailto:enquiries@moneyowl.com.sg">
                <span class="footer-contact">
                    <img src="assets/images/maintenance/letter.svg">{{ 'MAINTENANCE_PAGE.CONTACT' | translate}}
                </span>
            </a>
        </div>
        <div class="footer-bottom">{{ 'MAINTENANCE_PAGE.FOOTER' | translate}}</div>
    </div>
</div>
