<div class="container-fluid welcome-screen">
    <div class="form-container">
        <div class="owl-start">
            <img src="assets/images/welcome-journey/owl-upgrade.svg" class="owl-icon">
        </div>
        <div class="title-txt mt20">{{'UPGRADE_SCREEN.TITLE' | translate}}</div>
        <div class="sub-title-txt">{{'UPGRADE_SCREEN.MESSAGE'| translate}}</div>
        <div class="page-btn-block">
            <button type="button" class="btn btn-primary width100" (click)="goNext()">{{'UPGRADE_SCREEN.BTN_TEXT' | translate}}</button>
        </div>
    </div>
</div>
